# Flutter/Dart build artifacts
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub-cache/
.pub/

# VS Code/JetBrains IDEs settings
.idea/
*.iml
.vscode/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/build/

# Android
android/.cxx/
android/app/debug.keystore
android/app/key.properties
android/local.properties
android/.gradle/
android/build/

# iOS
ios/.generated/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/build/

# Windows/Linux
windows/CMakeCache.txt
windows/CMakeFiles/
windows/flutter/ephemeral/
windows/build/
linux/flutter/ephemeral/
linux/build/

# Web
web/.dart_tool/
web/build/

# Flutter dependencies
pubspec.lock

